 <h1><%= @task.title %></h1><%= link_to "✎ Edit this task", edit_path %>
  <p><%= @task.details %></p>
  <p><%= @task.completed ? "✔️ This task has been completed" : "✖️ This task has not been completed yet" %></p>

  <%= link_to "Back to all tasks", tasks_path %>
